<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sdk-version-code</key>
	<string>IOS-1.5.3</string>
	<key>sdklog</key>
	<string>GxDebug</string>
	<key>production-dev22</key>
	<dict>
		<key>remark</key>
		<string>开发环境</string>
		<key>pub-key</key>
		<string>MHwwDQYJKoZIhvcNAQEBBQADawAwaAJhAMltTBkk0HDen5gSn2gX5n4EoBlaQWc0S+d2X6BEPBWpktX8IJk14QbVRFAB2YJlM7kkq+g2jaDVXo+rEq539xJhBPId7hf1a3hhk/qOF0Z4n8pI0URBEGK/IeJr9Ktb8wIDAQAB</string>
		<key>pub-key-id</key>
		<string>fe078ec968ebae837c563bbc73c4672d</string>
		<key>service-host</key>
		<string>192.168.10.53</string>
		<key>service-port</key>
		<integer>32001</integer>
		<key>service-api</key>
		<string>http://192.168.10.22:8010/api.php</string>
		<key>amp-api</key>
		<string>http://192.168.10.20:8005/api.htm</string>
		<key>lbs-api</key>
		<string>http://192.168.10.48:7888/api.htm</string>
		<key>config-api</key>
		<string>http://192.168.10.22:8010/api.php</string>
		<key>domain</key>
		<string>mangotv.gt.pusure.com</string>
	</dict>
	<key>channel-id</key>
	<string>open</string>
	<key>erase-user-after-uninstall</key>
	<false/>
	<key>production-dev2</key>
	<dict>
		<key>remark</key>
		<string>测试环境</string>
		<key>pub-key</key>
		<string>MHwwDQYJKoZIhvcNAQEBBQADawAwaAJhAMltTBkk0HDen5gSn2gX5n4EoBlaQWc0S+d2X6BEPBWpktX8IJk14QbVRFAB2YJlM7kkq+g2jaDVXo+rEq539xJhBPId7hf1a3hhk/qOF0Z4n8pI0URBEGK/IeJr9Ktb8wIDAQAB</string>
		<key>pub-key-id</key>
		<string>fe078ec968ebae837c563bbc73c4672d</string>
		<key>service-host</key>
		<string>192.168.10.63</string>
		<key>service-port</key>
		<integer>5224</integer>
		<key>service-api</key>
		<string>http://192.168.10.22:8010/api.php</string>
		<key>amp-api</key>
		<string>http://192.168.10.20:8005/api.htm</string>
		<key>lbs-api</key>
		<string>http://192.168.10.48:7888/api.htm</string>
		<key>config-api</key>
		<string>http://192.168.10.22:8010/api.php</string>
		<key>domain</key>
		<string>mangotv.gt.pusure.com</string>
	</dict>
	<key>ftp_address</key>
	<string>ftp://192.168.8.215</string>
	<key>production_北京</key>
	<dict>
		<key>pub-key-id</key>
		<string>69d747c4b9f641baf4004be4297e9f3b</string>
		<key>pub-key</key>
		<string>MHwwDQYJKoZIhvcNAQEBBQADawAwaAJhAJp1rROuvBF7sBSnvLaesj2iFhMcY8aXyLvpnNLKs2wjL3JmEnyr++SlVa35liUlzi83tnAFkn3A9GB7pHBNzawyUkBh8WUhq5bnFIkk2RaDa6+5MpG84DEv52p7RR+aWwIDAQAB</string>
		<key>service-host</key>
		<string>43.231.160.106</string>
		<key>service-port</key>
		<real>5225</real>
		<key>service-api</key>
		<string>http://sdk.open.phone.igexin.com/api.php</string>
		<key>amp-api</key>
		<string>http://sdk.open.amp.igexin.com/api.htm</string>
		<key>lbs-api</key>
		<string>http://sdk.open.lbs.igexin.com/api.htm</string>
		<key>config-api</key>
		<string>http://sdk.open.phone.igexin.com/api.php</string>
		<key>domain</key>
		<string>mangotv.gt.igexin.com</string>
	</dict>
	<key>production_gongan</key>
	<dict>
		<key>alias-remark</key>
		<string>alias开头的是公安一所定制别名http请求的功能</string>
		<key>alias-host</key>
		<string>http://192.168.163.96:7889</string>
		<key>gcrash-host</key>
		<string>http://192.168.163.96:9999</string>
		<key>alias-pub-key</key>
		<string>MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQC/wDED4Sij64BJcEIw8GYkK/jYNTLrQJUDEd3/Fmgsgqu/ZCHvR7wfTg6Abi21tkPrhwfQxv8isYZhg/H6W+EesLsLCO6fryXfeFRy1TCmvDAXYaN1pMumt2DNQAlOW+Dqx6nosrFbpKqtibkyl4R6iPom3N2ACP3oigEvpKgs6QIDAQAB</string>
		<key>alias-pub-key-id</key>
		<string>6e9d92c736aee47d4232ffa8a1781767</string>
		<key>remark</key>
		<string>官网配置</string>
		<key>service-host</key>
		<string>sdk.open.talk.getui.net</string>
		<key>pub-key-id</key>
		<string>69d747c4b9f641baf4004be4297e9f3b</string>
		<key>pub-key</key>
		<string>MHwwDQYJKoZIhvcNAQEBBQADawAwaAJhAJp1rROuvBF7sBSnvLaesj2iFhMcY8aXyLvpnNLKs2wjL3JmEnyr++SlVa35liUlzi83tnAFkn3A9GB7pHBNzawyUkBh8WUhq5bnFIkk2RaDa6+5MpG84DEv52p7RR+aWwIDAQAB</string>
		<key>service-port</key>
		<real>5224</real>
		<key>service-api</key>
		<string>http://sdk.open.phone.igexin.com/api.php</string>
	</dict>
	<key>use-sandbox-env</key>
	<false/>
	<key>production1</key>
	<dict>
		<key>remark</key>
		<string>官网配置</string>
		<key>service-host</key>
		<string>sdk.open.talk.getui.net</string>
		<key>pub-key-id</key>
		<string></string>
		<key>pub-key</key>
		<string></string>
		<key>service-port</key>
		<real>5224</real>
		<key>service-api</key>
		<string>http://sdk.open.phone.igexin.com/api.php</string>
	</dict>
	<key>production-dev</key>
	<dict>
		<key>service-host</key>
		<string>cloud-push.spdb.com.cn</string>
		<key>pub-key-id</key>
		<string>fe078ec968ebae837c563bbc73c4672d</string>
		<key>pub-key</key>
		<string>MHwwDQYJKoZIhvcNAQEBBQADawAwaAJhAMltTBkk0HDen5gSn2gX5n4EoBlaQWc0S+d2X6BEPBWpktX8IJk14QbVRFAB2YJlM7kkq+g2jaDVXo+rEq539xJhBPId7hf1a3hhk/qOF0Z4n8pI0URBEGK/IeJr9Ktb8wIDAQAB</string>
		<key>service-port</key>
		<real>5224</real>
		<key>service-api</key>
		<string>http://sdk.open.phone.igexin.com/api.php</string>
	</dict>
	<key>sandbox</key>
	<dict>
		<key>pub-key</key>
		<string>MHwwDQYJKoZIhvcNAQEBBQADawAwaAJhAMltTBkk0HDen5gSn2gX5n4EoBlaQWc0S+d2X6BEPBWpktX8IJk14QbVRFAB2YJlM7kkq+g2jaDVXo+rEq539xJhBPId7hf1a3hhk/qOF0Z4n8pI0URBEGK/IeJr9Ktb8wIDAQAB</string>
		<key>pub-key-id</key>
		<string>fe078ec968ebae837c563bbc73c4672d</string>
		<key>service-host</key>
		<string>192.168.10.63</string>
		<key>service-port</key>
		<integer>5224</integer>
		<key>service-api</key>
		<string>http://192.168.10.22:8010/api.php</string>
		<key>amp-api</key>
		<string>http://192.168.10.20:8005/api.htm</string>
		<key>lbs-api</key>
		<string>http://192.168.10.48:7888/api.htm</string>
		<key>config-api</key>
		<string>http://192.168.10.22:8010/api.php</string>
		<key>domain</key>
		<string>mangotv.gt.pusure.com</string>
	</dict>
	<key>production22</key>
	<dict>
		<key>pub-key-id</key>
		<string>681fc6804665c0a7bedc0aaf476bef9a</string>
		<key>pub-key</key>
		<string>MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA38U5QJKfqpuJrZLFSnJfDUKHeTHLsTqby9M4APh5BePUrqOmk9KKMoGbxRrkMl79iHx8yJEfDGvTXiG23KLMMyhRHBzLGb3qv1TkLPftkg4cRdc1GEa4Zvr6wBC3HKiq5Rk9NwqJ3TF7SBf6A8nBKxzuPmok0ltyBtGpA7cMgRzJjdQ/3+yXfqRDREmDjU/w1sgV/XLDxVUe7jfmGtBjbgJzx1Ps5BPzoBYgHa5eeTHrfyhqPPGqwYYYYbPto2jqFOfu/TLTzMq59B9Zw4wO4JjS4mi2uM6N9rhlY6/ZNLCAWh5GDIQOU5NgbJqfKHOSVnexlQt/CXP8cNqg2nygZwIDAQAB</string>
		<key>service-host</key>
		<string>192.168.223.12</string>
		<key>service-port</key>
		<real>5224</real>
		<key>service-api</key>
		<string>http://sdk.open.phone.igexin.com/api.php</string>
		<key>amp-api</key>
		<string>http://amp.nz.igexin.com/api.htm</string>
		<key>lbs-api</key>
		<string>http://sdk.open.lbs.igexin.com/api.htm</string>
		<key>config-api</key>
		<string>http://sdk.open.phone.igexin.com/api.php</string>
		<key>log-api</key>
		<string>http://d.gt.igexin.com/api.htm</string>
	</dict>
	<key>production——pf</key>
	<dict>
		<key>pub-key</key>
		<string>681fc6804665c0a7bedc0aaf476bef9a</string>
		<key>pub-key-id</key>
		<string>MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA38U5QJKfqpuJrZLFSnJfDUKHeTHLsTqby9M4APh5BePUrqOmk9KKMoGbxRrkMl79iHx8yJEfDGvTXiG23KLMMyhRHBzLGb3qv1TkLPftkg4cRdc1GEa4Zvr6wBC3HKiq5Rk9NwqJ3TF7SBf6A8nBKxzuPmok0ltyBtGpA7cMgRzJjdQ/3+yXfqRDREmDjU/w1sgV/XLDxVUe7jfmGtBjbgJzx1Ps5BPzoBYgHa5eeTHrfyhqPPGqwYYYYbPto2jqFOfu/TLTzMq59B9Zw4wO4JjS4mi2uM6N9rhlY6/ZNLCAWh5GDIQOU5NgbJqfKHOSVnexlQt/CXP8cNqg2nygZwIDAQAB</string>
		<key>service-host</key>
		<string>43.231.160.106</string>
		<key>service-port</key>
		<integer>5225</integer>
		<key>service-api</key>
		<string>http://sdk.open.phone.igexin.com/api.php</string>
		<key>amp-api</key>
		<string>http://sdk.open.amp.igexin.com/api.htm</string>
		<key>lbs-api</key>
		<string>http://sdk.open.lbs.igexin.com/api.htm</string>
		<key>config-api</key>
		<string>http://sdk.open.phone.igexin.com/api.php</string>
		<key>domain</key>
		<string>mangotv.gt.igexin.com</string>
		<key>remark</key>
		<string>浦发开发环境测试</string>
	</dict>
	<key>sandbox - backup</key>
	<dict>
		<key>service-host</key>
		<string>192.168.10.63</string>
		<key>service-port</key>
		<real>5224</real>
		<key>service-api</key>
		<string>http://192.168.10.22:8010/api.php</string>
		<key>amp-api</key>
		<string>http://115.236.68.58:8005/api.htm</string>
		<key>lbs-api</key>
		<string>http://115.236.68.59:5555/api.htm</string>
		<key>config-api</key>
		<string>http://115.236.68.62:8010/api.php</string>
		<key>domain</key>
		<string>mangotv.gt.pusure.com</string>
	</dict>
</dict>
</plist>
